<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/AleksIvanovSinglet/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="AleksIvanovSinglet" />
            <add key="ClearTextPassword" value="d2db1243be2edaf82ae24f2205fac37a300d4d87" />
        </github>
    </packageSourceCredentials>
</configuration>