<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/AleksIvanovSinglet/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="AleksIvanovSinglet" />
            <add key="ClearTextPassword" value="6960303034591e1d17b063ac66b375814e103a54" />
        </github>
    </packageSourceCredentials>
</configuration>